.container {
    width: 450px;
    margin: 25px auto;
    text-align: center;
}

p {
    font-size: 40px;

    font-weight: 400;
      
}

.form_row {
    margin-top: 10px;
    display: flex;
    gap: 30%;
  }

  label {
    font-size: 20px;

    font-weight: 400;
  }

  .form {
    width: 450px;
    margin: 25px auto;
    text-align: center;
  }